    <!--  <ul class="nav nav-tabs">
        <li role="presentation" routerLinkActive="active"><a routerLink="/hem">Hem</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="/parti">Parti</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="/ledamot">Ledamot</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="/om">Om</a></li>
      </ul>
    -->
    <!-- As a link -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/hem">      
      <!-- <img src="./../assets/search.png" width="30" height="30" class="d-inline-block align-top" alt=""> -->
      Riksdagskollen.se
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li data-toggle="collapse" data-target=".navbar-collapse" class="nav-item active">
              <a class="nav-link" routerLink="/hem">Hem<span class="sr-only">(current)</span></a>
            </li>
            <li data-toggle="collapse" data-target=".navbar-collapse" class="nav-item active">
                <a class="nav-link" routerLink="/parti">Parti<span class="sr-only">(current)</span></a>
              </li>
              <li data-toggle="collapse" data-target=".navbar-collapse" class="nav-item active">
                  <a class="nav-link" routerLink="/ledamot">Ledamot<span class="sr-only">(current)</span></a>
                </li>
                <li data-toggle="collapse" data-target=".navbar-collapse" class="nav-item active">
                    <a class="nav-link" routerLink="/om">Om<span class="sr-only">(current)</span></a>
                  </li>
</ul>
</div>
  </div>
</nav>
