<h2>Sök efter ledamöter</h2>
<input [(ngModel)]="searchText" placeholder="search text goes here">

<div *ngIf="searchText != undefined">
<ul *ngIf="searchText.length > 2">
  <li *ngFor="let c of characters | filter : searchText">
    <a (click)="onCharacter(c.intressentId)">{{c.fornamn}} {{c.efternamn}} ({{c.parti}}) </a>
  </li>
</ul>
</div>

<div *ngIf="selectedCommissioner != undefined">
  <div class="row">  
    <div class="col-12 col-md-8">
      <app-pie2 [searchQuery]="searchQuery"></app-pie2>
    </div> 
    <div class="col-12 col-md-4">      
      <app-person-card></app-person-card>
    </div>
  </div>
</div>

