


<div *ngIf="selectedParty != undefined">
    <h2 class="padding">{{dataManager.getPartyFullName(this.selectedParty)}}</h2>
    <p>Diagram som vissar hur {{dataManager.getPartyFullName(this.selectedParty)}} har röstat</p>
<app-pie2 [searchQuery]="searchQuery"></app-pie2>
</div>


    <div *ngIf="selectedParty == undefined">
        <h2 class="padding">Välj ett parti</h2>
    </div>
    <div *ngIf="selectedParty != undefined">
        <h2 class="padding">Välj ett annat parti</h2>
    </div>

<div class="container">
<div class="row">
    <div class="col-6 col-md-3">
        <app-partyButten [partyQuery]="'v'"></app-partyButten>
    </div>
    <div class="col-6 col-md-3">
        <app-partyButten [partyQuery]="'s'"></app-partyButten>
    </div>
    <div class="col-6 col-md-3">
        <app-partyButten [partyQuery]="'mp'"></app-partyButten>
    </div>
    <div class="col-6 col-md-3">
        <app-partyButten [partyQuery]="'c'"></app-partyButten>
    </div>
    <div class="col-6 col-md-3">
        <app-partyButten [partyQuery]="'l'"></app-partyButten>
    </div>
    <div class="col-6 col-md-3">
        <app-partyButten [partyQuery]="'m'"></app-partyButten>
    </div>
    <div class="col-6 col-md-3">
        <app-partyButten [partyQuery]="'kd'"></app-partyButten>
    </div>
    <div class="col-6 col-md-3">
        <app-partyButten [partyQuery]="'sd'"></app-partyButten>
    </div>
</div>
</div>

<div *ngIf="selectedParty == undefined">
        <h2 class="padding">Lista med ledamöter för alla partier</h2>
    </div>
    <div *ngIf="selectedParty != undefined">
        <h2 class="padding">Lista med ledamöter för {{dataManager.getPartyFullName(this.selectedParty)}}</h2>
    </div>

<div class="row">
    <div class="col-sm-12 col-md-6">

<app-list [best]="true"></app-list>
</div>

<div class="col-sm-12 col-md-6">

<app-list [best]="false"></app-list>
</div>
</div>


