<div class="row">
    <div class="col-12">
      <h2>Välkommen till Riksdagskollen</h2>
    </div>

    <div class="col-12" >
      <p>Vi på Riksdagskollen vill hjälpa dig som väljare att välja din representant i riksdagen. 
        Om du, som vi tycker det är viktigt med en representant eller parti som är närvarande ger vi dig möjligheten att undersöka saken själv.
        Vill du veta mer om Riksdagskollen kan du läsa mer i fliken om eller klicka <a (click)="onCharacter(partyQuery)">här</a>.
      </p>
    </div>


    <div class="col-12" >

    <h2>Frånvaro per parti i procent</h2>
  </div>

  <div class="col-md-12 offset-md-0 col-lg-10 offset-lg-1" >
    <div *ngIf="data != undefined">
      <app-bar [data] = "data" [topText]="topText"></app-bar>
    </div>
  </div>

</div>




