<div class="row">
    <div class="col-12">
      <h2>Mål</h2>
    </div>

    <div class="col-12" >
      <p>Detta är en hemsida....Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et libero odio. Integer dolor quam, tempus eu est vitae, pulvinar egestas ipsum. Suspendisse sem nisl, auctor sed pellentesque at, mollis eget est. Phasellus sed placerat nibh. Vestibulum aliquet nibh at viverra porttitor. Mauris et condimentum dui, quis blandit ligula. Phasellus rhoncus metus ac lorem aliquam blandit. Fusce finibus purus ex, feugiat varius lectus maximus consectetur. Cras arcu sem, feugiat at consequat at, congue ac felis. Curabitur facilisis euismod ipsum, tristique suscipit nulla. Fusce ut lectus risus. Donec vel erat sapien. Aliquam consequat, purus in rhoncus consectetur, metus erat dictum lorem, a porttitor elit mi non eros. Pellentesque commodo magna in mauris vehicula semper ut in leo.

        </p>
    </div>



  <div class="col-md-12 offset-md-0 col-lg-10 offset-lg-1" >
    <div *ngIf="data != undefined">
      <app-bar [data] = "data" [topText]="topText"></app-bar>
    </div>
  </div>

</div>




